# All about handling missing data in various scenerios.

### What all pandas consider as null values?
> Is values like 'nan' in string format also null values? 
    >> 'na' 

> pd.isnull,pd.notnull, pd.notna
### How can we customize these settings and also manually add new types of null values?

In [12]:
# importing pandas as pd
import pandas as pd

# importing numpy as np
import numpy as np

# dictionary of lists
dict = {'First Score':[100, 90, np.nan, 95],
		'Second Score': [30, 45, 56, np.nan],
		'Third Score':[np.nan, 40, 80, np.nan]}

# creating a dataframe from list
df = pd.DataFrame(dict)
df

   First Score  Second Score  Third Score
0        100.0          30.0          NaN
1         90.0          45.0         40.0
2          NaN          56.0         80.0
3         95.0           NaN          NaN

In [13]:
# It shows all columns with nan values. 
_null= df.isnull().sum()
# Per column based frequency of 'nan' values in the dataframe so that we can drop 
# the columns with significant number of 'nan' values.
_null.sort_values(ascending=False, inplace=True)
_null

Third Score     2
First Score     1
Second Score    1
dtype: int64